body {
  background-color: @dark;
  color: @gray;
  border: .5rem solid @orange;
  padding: 2%;
  border-radius: 2rem;

  h1, h2 {
    font-size: 2rem;
    border: .05rem solid black;
    box-shadow: .8rem .5rem .3rem black; 
    border-radius: 1rem;
    padding: .5%;
    width: 20%;
    background-color: @medium; 

    .hassle {
      color: @blue;
    }
  }

  h1 {
    display: flex;
    justify-content: space-evenly;
    width: 21%;
  }

    h2 {
    display: flex;
    justify-content: space-evenly;
    width: 12%;
    }
  
  p {
    padding: 1%;
    font-size: 1.5rem;
  }
}